@import url("card.css");
@import url("map.css");

@font-face {
  font-family: AvenirNextRegular;
  src:url("avenir-next-regular.woff");
}
@font-face{
  font-family: AvenirNextHeavy;
  src:url("avenir-next-heavy.woff");
}
@font-face{
  font-family: AvenirNextBold;
  src:url("avenir-next-bold.woff");
}

@media (max-width: 768px) {
    .paragraphs{
      font-size: 10px;
    }
}

// @media (max-width: 992px) {
//     .paragraphs{
//       font-size: 14px;
//     }
// }

.wrapper{
  background-color: #F4F4F4;
  padding: 40px;
}

.first-section{
  min-height: 100vh
}

a {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: black;
  }
}

.heavy {
  width: 85%;
  h1{
    font-family: "AvenirNextHeavy", "sans-serif";
    font-weight: bold;
    font-size: 80px;
  }
  strong{
    color: #1C819E
  }
}

.yellow {
  color: #FFBE00;
}

.personal-info {
  width: 78%;
  margin: 10px;
  h3 {
    font-family: "AvenirNextRegular";
    font-weight: bold;
    font-size: 30px;
    strong{
      font-family: "AvenirNextBold";
    }
  }
}
.paragraphs {
  margin: 10px;
  flex-wrap: wrap;
  flex-grow: 1;
  p {
    font-family: AvenirNextRegular;
    font-size: 20px;
    width: 78%;
  }
}

.underline-yellow{
  // text-decoration: underline;
  // text-decoration-color: #FFBE00;
  // text-decoration-style: wavy;
  // padding-bottom:2px;
  // color: black;

  // text-decoration: none;
  // color: black;
  //   box-shadow: 0 1px 0 rgba(0,0,0,0), 0px 1px 0 #f7eb9a;
  //   -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0), 0px 1px 0 #f7eb9a;

color: black;
    background-image: linear-gradient(45deg, transparent 65%, #FFBE00 80%, transparent 90%), linear-gradient(135deg, transparent 5%, #FFBE00 15%, transparent 25%), linear-gradient(135deg, transparent 45%, #FFBE00 55%, transparent 65%), linear-gradient(45deg, transparent 25%, #FFBE00 35%, transparent 50%);
    background-repeat: repeat-x;
    background-size: 20px 5px;
    background-position: 0 100%;
    padding-bottom: 3px;

  &:hover{
    font-family: "AvenirNextBold";
   background-image: linear-gradient(45deg, transparent 65%, #1C819E 80%, transparent 90%), linear-gradient(135deg, transparent 5%, #1C819E 15%, transparent 25%), linear-gradient(135deg, transparent 45%, #1C819E 55%, transparent 65%), linear-gradient(45deg, transparent 25%, #1C819E 35%, transparent 50%);
    background-repeat: repeat-x;
    background-size: 20px 5px;
    background-position: 0 100%;
    padding-bottom: 3px;
  }
}

.w3-red{
  background-color: red;
}

.sections{
  margin-bottom: 10px;
  margin-top: 0px;
}

.section-title{
  background-color: #DEDDD9;
  width: 100%;
  margin-left: 0px;
  font-family: AvenirNextHeavy;
  text-align: left;
  padding:30px;
  border: 0px;
  margin-bottom: 10px;
}

li {
     list-style-type: none;
}

.title{
  font-family: "AvenirNextHeavy";
  font-size: 40px;
}

.w3-block{
  width: 100%
}

.w3-hide{
  display:none;
}

.w3-show{
  display: block;
  width: 100%;
  background-color:#DEDDD9;
}

.bold{
  font-family: AvenirNextBold;
}

.section-ps{
  padding: 20px;
  font-family: "AvenirNextRegular"
}

.period{
  color: #1C819E
}

ul {
  list-style-type: none;
  padding: 0px;
}

.social-media ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.icon{
  display: inline-block;
  font-size: 20px;
}
.icon i:hover{
  color: #1C819E;
  font-size: 30px;
}

