@import url("card.css");
@import url("map.css");
@font-face {
  font-family: AvenirNextRegular;
  src: url("avenir-next-regular.woff"); }
@font-face {
  font-family: AvenirNextHeavy;
  src: url("avenir-next-heavy.woff"); }
@font-face {
  font-family: AvenirNextBold;
  src: url("avenir-next-bold.woff"); }
.wrapper {
  background-color: #F4F4F4;
  padding: 40px; }

.first-section {
  min-height: 100vh; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    text-decoration: none;
    color: black; }

.heavy h1 {
  font-family: "AvenirNextHeavy", "sans-serif";
  font-weight: bold;
  font-size: 80px; }
.heavy strong {
  color: #1C819E; }

.yellow {
  color: #FFBE00; }

.personal-info {
  margin: 10px;
  padding-bottom: 10px; }
  .personal-info h3 {
    font-family: "AvenirNextRegular";
    font-weight: bold;
    font-size: 30px; }
    .personal-info h3 strong {
      font-family: "AvenirNextBold"; }

.paragraphs {
  margin: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .paragraphs p {
    font-family: AvenirNextRegular;
    font-size: 20px; }

.underline-yellow {
  color: black;
  background-image: linear-gradient(45deg, transparent 65%, #FFBE00 80%, transparent 90%), linear-gradient(135deg, transparent 5%, #FFBE00 15%, transparent 25%), linear-gradient(135deg, transparent 45%, #FFBE00 55%, transparent 65%), linear-gradient(45deg, transparent 25%, #FFBE00 35%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 20px 5px;
  background-position: 0 100%;
  padding-bottom: 3px; }
  .underline-yellow:hover {
    font-family: "AvenirNextBold";
    background-image: linear-gradient(45deg, transparent 65%, #1C819E 80%, transparent 90%), linear-gradient(135deg, transparent 5%, #1C819E 15%, transparent 25%), linear-gradient(135deg, transparent 45%, #1C819E 55%, transparent 65%), linear-gradient(45deg, transparent 25%, #1C819E 35%, transparent 50%);
    background-repeat: repeat-x;
    background-size: 20px 5px;
    background-position: 0 100%;
    padding-bottom: 3px; }

.w3-red {
  background-color: red; }

.sections {
  margin-bottom: 10px;
  margin-top: 0px; }

.section-title {
  background-color: #DEDDD9;
  width: 100%;
  margin-left: 0px;
  font-family: AvenirNextHeavy;
  text-align: left;
  padding: 30px;
  border: 0px;
  margin-bottom: 10px; }

li {
  list-style-type: none; }

.title {
  font-family: "AvenirNextHeavy";
  font-size: 40px; }

.w3-block {
  width: 100%; }

.w3-hide {
  display: none; }

.w3-show {
  display: block;
  width: 100%;
  background-color: #DEDDD9; }

.bold {
  font-family: AvenirNextBold; }

.section-ps {
  padding: 20px;
  font-family: "AvenirNextRegular"; }

.period {
  color: #1C819E; }

ul {
  list-style-type: none;
  padding: 0px; }

.social-media ul {
  list-style-type: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%; }

.icon {
  display: inline-block;
  font-size: 20px; }

.icon i:hover {
  color: #1C819E;
  font-size: 30px; }

.playlists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.playlist {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 240px;
  margin: 0 auto;
  padding-bottom: 20px; }

.playlist h2 {
  text-align: center;
  font-family: AvenirNextBold;
  font-size: x-large;
  margin: 15px; }

@media (max-width: 768px) {
  .paragraphs {
    margin: 0px; }
    .paragraphs p {
      font-size: 12px;
      width: 100%; }

  .heavy h1 {
    font-size: 40px; }

  .contact-me .heavy h1 {
    font-size: 30px; }

  .personal-info {
    width: 100%;
    margin: 0px; }
    .personal-info h3 {
      font-size: 16px; }

  .section-title h3 {
    font-size: 16px; }

  .section-ps p {
    font-size: x-small; }

  .sections {
    width: 100%; }

  .card-description h2 {
    font-size: 12px;
    padding: 3px; }
  .card-description p {
    font-size: 12px; }

  .card {
    width: 100%; }

  .cards {
    padding: 22px; }

  iframe {
    width: 238px; }

  .playlist {
    padding-bottom: 0px; }
    .playlist h2 {
      font-size: small; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .personal-info h3 {
    font-size: 18px; }

  .section-title h1 {
    font-size: 20px; }

  .paragraphs p {
    font-size: 14px; } }
@media (min-width: 992px) {
  .containerism {
    width: 900px;
    margin: 0 auto; }

  .paragraphs {
    margin-top: 10px; }
    .paragraphs p {
      font-size: 22px; } }
@media only screen and (min-width: 1440px) {
  .paragraphs p {
    font-size: 13px; } }
